<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Edit a Driver</title>
  </head>
  <body>
    <h1>Edit a Driver</h1>
    <form action="/clients/edit/{{client_id}}" method="POST">
      <input type="text" name="client_name" value="{{client["name"]}}"
      placeholder="Driver Name"> <input type="text" name="no"
      value="{{client["no"]}}" placeholder="No"> <input type="text"
      name="loc_25" value="{{client["loc_25"]}}" placeholder="Loc_25"> <input
      type="text" name="lat" value="{{client["lat"]}}" placeholder="Lat"> <input
      type="text" name="lon" value="{{client["lon"]}}" placeholder="Lon">
      <input type="submit" value="Update" />
    </form>
  </body>
</html>
